

#showAuditors{
margin-top: 30px;	
	
}

#footer{
max-height: 80px;

}


#showBlueprints{
	
margin-top: 30px;
margin-bottom: 100px;
}


#showItens{
	
margin-top: 30px;
margin-bottom: 75px;
	
}

a{
	color: #dc3545;
}

a:hover{
	color: #910000;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	
	background-color: #dc3545;
}


.title-align{
	
	top: 70%;
	
}


.menuTitle{
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}


.newAuditBlueprint{
	
	margin-top: 40px;
	margin-bottom: 15px;
	
	
}

.removeField{
 width: 15%;	
}

.newBlueprintLeft{
	margin-right: 15px;
	background-color: #eeeeee;
}

.botButtonsDiv{
	
	
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: : 50px;
	
}

.botButtons{
	
	background-color: #dc3545;
	margin-right: 15px;
	margin-bottom: 50px;
    border-color: #950412;
}
.top-offset{
	margin-top: 50px;
	
}

.hugetop-offset{
	margin-top: 120px;
}

.offset-bottom{
	margin-botton: 80px;
}

.botButtons:hover{
	
	background-color: #bb1626;
	margin-right: 15px;
	margin-bottom: 50px;
    border-color: 950412;
}